.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top-color: #e4e9ee;
}
.note-box {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #f0f7fb;
  background-position: 9px 0px;
  background-repeat: no-repeat;
  border: solid 1px #3498db;
  border-radius: 6px;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 20px;
  max-width: 80%;
  margin: auto;
  font-size: small;
}
.main-content {
  width: auto;
  /*height: 200px; */
  border: 2px solid lavender;
  margin: 100px 20px 100px;
  padding: 10px;
  font-size: small;
}
.radio-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.table {
  margin-left: 10px;
}
.editButton {
  text-align: center;
}
